<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zebra.deviceidentifierswrapper">
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="com.zebra.provider.READ"/>
  <queries>
    <package android:name="com.symbol.emdk.emdkservice" />
    <provider android:authorities="oem_info" />
  </queries>
</manifest>
